apache-rat-core/src/main/resources/org/apache/rat/rat-report.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--
     Licensed to the Apache Software Foundation (ASF) under one   *
     or more contributor license agreements.  See the NOTICE file *
     distributed with this work for additional information        *
     regarding copyright ownership.  The ASF licenses this file   *
     to you under the Apache License, Version 2.0 (the            *
     "License"); you may not use this file except in compliance   *
     with the License.  You may obtain a copy of the License at   *
                                                                  *
       http://www.apache.org/licenses/LICENSE-2.0                 *
                                                                  *
     Unless required by applicable law or agreed to in writing,   *
     software distributed under the License is distributed on an  *
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY       *
     KIND, either express or implied.  See the License for the    *
     specific language governing permissions and limitations      *
     under the License.                                           *
    -->
    <xs:element name="rat-report">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="version" maxOccurs="1" minOccurs="1">
                    <xs:complexType mixed="true">
                        <xs:attribute type="xs:string" name="product" use="required"/>
                        <xs:attribute type="xs:string" name="vendor" use="required"/>
                        <xs:attribute type="xs:string" name="version" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="resource" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="license" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="notes" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="approval" use="required"/>
                                    <xs:attribute type="xs:string" name="family" use="required"/>
                                    <xs:attribute type="xs:string" name="id" use="required"/>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="sample" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="type" use="required"/>
                        <xs:attribute type="xs:string" name="mediaType" use="required" />
                        <xs:attribute type="xs:string" name="encoding" use="optional" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="statistics" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="statistic" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:attribute type="xs:string" name="approval" use="required"/>
                                    <xs:attribute type="xs:integer" name="count" use="required"/>
                                    <xs:attribute type="xs:string" name="description" use="required"/>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="licenseCategory" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:attribute type="xs:integer" name="count" use="required"/>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="licenseName" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:attribute type="xs:integer" name="count" use="required"/>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="documentType" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:attribute type="xs:integer" name="count" use="required"/>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:dateTime" name="timestamp" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
